#controls {
    width: 25vw;
    height: 100vh;
    float: right;
    padding: 10px;
    overflow-y: auto;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.small-input {
    width: 60px;
}

.edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}
